gitignore


# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Секреты
.env

# Логи
*.log

# Временные файлы
*.tmp
*.swp
.DS_Store

# Служебные скрипты (не для репозитория)
id_numeration.py
load_chats_fixed.py
new_clients.py

